# ====================
# Node / Vite React
# ====================

# dependencies
/node_modules

# builds
/dist
/build

# environment variables
.env
.env.local
.env.development
.env.production
.env.test

# IDE files
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Cache
.git/
.cache/
temp/
*.tmp
*.swp
*.lock

# system files
.DS_Store
Thumbs.db

# Editor backups
*~
*.bak

# Local artifacts
package-lock.json
pnpm-lock.yaml
yarn.lock

# Testing output
coverage
/*.tgz

# Misc
*.local
*.orig
